.social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides {
    display: flex;
}

.digital-outsourcing-agency .banner .left-side h1 {
    color: #A4D6E8;
}
.cta-button, input[type="submit"] {
    background: #A4D6E8;
}

.digital-outsourcing-agency .clutch-pg .banner .logos-slider {
    visibility: hidden;
}

footer#colophon {
    background: url(../images/agency-banner.png);
    background-size: 100% !important;
    background-position-y: 100% !important;
}